include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center
            .col-3  
                .inner-logo     
                    a(href="/home")
                        img(src="client/image/lofi.jpg", alt="log" width="50px")
            .col-5 
                form(
                    action="/search"
                    method="GET"
                    search-form
                )
                    div(class='form-group d-flex mb-0')
                        input(
                            type='text'
                            placeholder='Input here!'
                            class='form-control'
                            name='keyword'
                            value=keyword
                        )
                        button(
                            type='submit'
                            class='btn btn-primary'
                        )  Search
            .col-4
                .inner-menu 
                    ul 
                        li  
                            a(href="/home") Browser 
                        li(class='sub-menu')
                            a(href="/products") Productions 
                            - const pathProduct = '/products'
                            if(layoutCategoryProduct)
                                +sub-menu(layoutCategoryProduct, pathProduct)
                        li  
                            a(href="/cart") Cart (#{miniCart ? miniCart.totalQuantity : "0"})
                        if(user)
                            li 
                                a(href='/user/log-out') Log out
                            li 
                                a(href="/user/info") #{user.fullName} 
                        else    
                            li 
                                a(href='/user/login') Login
                            li 
                                a(href='/user/register') Register