.row   
    .col-12.d-flex.justify-content-center.mt-3        
        a(
            class='btn btn-primary m-1'
            href='/users/not-friend'
        ) Users list
        a(
            class='btn btn-primary m-1'
            href='/users/friend'
        ) Friends list
        a(
            class='btn btn-primary m-1'
            href='/users/request'
        ) Invitation list
        a(
            class='btn btn-primary m-1'
            href='/users/accept'
        ) Friends request