extends ../../layouts/default.pug 
include ../../mixins/alter.pug
block main  
    +alterSuccess(3000)
    +alterError(3000)

    h1(class='mb-4') Edit permission 

    form(
        action=`/${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
        method='POST'
    )
        div(class='form-group')
            label(for="title") Title
            input(
                type='text'
                class='form-control'
                id='title'
                name='title'
                required
                value=data.title
            ) 

        div(class='form-group')
            label(for="title") Description
            input(
                type='text'
                class='form-control'
                id='desc'
                name='description'
                value=data.description
            ) 
        
        div(class='form-group')
            button(
                type='submit'
                class='btn btn-primary'
            ) Edit
    