extends ../../layouts/default.pug

block main

    .container(class="mt-5 mb-5")
        .card
            .container-fluid
                .row
                    .col-6
                        img.thumbnail(src=products.thumbnail, alt=products.title style="max-width: 100%; height: auto;")
                    .col-6
                        h1(class="mt-3") #{products.title}
                        span(class="mb-4") Category: 
                        span(class='text-primary mb-5') #{products.price}
                        br
                        span(class="mb-4") Discount: 
                        span(class='text-primary mb-5') #{products.discountPercentage} 
                        br
                        span(class="mb-4") Price:  
                        span(class='text-primary mb-5') #{products.price}
                        br
                        span(class="mb-4") Stock: 
                        span(class='text-primary mb-5') #{products.stock} 

                        form(
                            action=`/cart/add/${products.id}`
                            method='POST'
                        ) 
                            input(
                                class='form-control mb-2'
                                type="number"
                                name='quantity'
                                value='1'
                                min='1'
                                max=products.stock
                            )
                            button(
                                type='submit'
                                class='btn btn-success btn-block'
                            ) Add to cart
                        
