extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main 
    
    .row    
        .col-12.d-flex.justify-content-center.mt-3
            .chat 
                .inner-body
                    each chat in chats 
                            div(class=(chat.user_id != user.id ? "inner-incomming" : "inner-outgoing d-flex justify-content-end"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.userInfor.fullName}
                                .inner-content #{chat.content}
                            
                    //- .inner-incoming
                    //-     .inner-name Name
                    //-     .inner-content incomingaaaaaaaa
                    //- .inner-outgoing.d-flex.justify-content-end
                    //-     .inner-content outgoing

                .inner-foot 
                    form(
                        class='inner-form'
                        action=''
                    )
                        input(
                            text=''
                            placeholder='Type here ...'
                            name='content'
                        )
                        button Send
        