extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class='text-center') Insert OTP
                form(
                    action='/user/password/otp'
                    method='POST'
                )
                    div(class='form-group')
                        label(form='email') Email 
                        input(
                            type='email'
                            class='form-control'
                            id='email'
                            name='email'
                            value=email
                            required
                            readonly
                        )
                    div(class='form-group')
                        label(form='otp') OTP 
                        input(
                            type='otp'
                            class='form-control'
                            id='otp'
                            name='otp'
                            required
                        )
                    div(class='form-group')
                        button(
                            type='submit'
                            class='btn btn-success'
                        ) Confirm