extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        include ../../partials/list-btn-user.pug
        .row 
            .col-12 
                +box-head('Friends')


        .row 
            .col-6  
                each user in users
                    div(class='box-user ')
                        div(class='inner-avatar')
                            img(
                                src=(user.avatar ? usr.avatar : "/client/image/img2.jpg")
                                alt=user.fullName
                            )
                        div(class='inner-info')
                                div(class='inner-name') #{user.fullName}
                                div(class='inner-buttons')
                                    button(
                                        class='btn btn-sm btn-primary mr-1'
                                        btn-unfriend-friend=user.id
                                    ) Unfriend
                                    button(
                                        class='btn btn-sm btn-success mr-1'
                                        button-success
                                    ) Success !